.App {
  text-align: center;
  align-items: center;
  justify-content: center;

}

h1 {
  font-weight: bold;
  color: #d345cc;
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.InformationArea {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginEmail {
  margin-top: 50px;
  width: 80%;
  max-width: 400px;
}

.RegisterEmail {
  margin-top: 20px;
  width: 80%;
  max-width: 400px;
}

.RegisterUsername {
  margin-top: 50px;
  width: 80%;
  max-width: 400px;
}

.LoginPassword {
  margin-top: 20px;
  width: 80%;
  max-width: 400px;
}

.RegisterPassword {
  margin-top: 20px;
  width: 80%;
  max-width: 400px;
}

.LoginSubmit {
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
  color: white;
  font-weight: bold;
  background-color: #d345cc;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
  transition: all 0.5s;
}

.LoginSubmit:hover {
  background-color: white;
  color:#d345cc;
}

.RegisterSubmit {
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
  color: white;
  font-weight: bold;
  background-color: #d345cc;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
  transition: all 0.5s;
}

.RegisterSubmit:hover {
  background-color: white;
  color:#d345cc;
}

.InfoText1 {
  margin-top: 50px;
  font-size: medium;
  color: #888;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.NewSnippetArea {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.NewSnippetBackground {
  width: 95%;
  max-width: 800px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
  padding: 25px;
}

.NewSnippetInput {
  width: 100%;
  min-height: 100px;
  border: none;
  box-shadow: 0px 0px 3px #888;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.NewSnippetSubmitButton {
  padding: 5px 20px 5px 20px;
  color: white;
  background-color: #d345cc;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px #888;
  transition: all 0.5s;
}

.NewSnippetSubmitButton:hover {
  color: #d345cc;
  background-color: white;
}

.Separator {
  width: 60%;
  height: 1px;
  background-color: #888;
  margin: 20px 0px 20px 0px;
}

.SnippetArea {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.SnippetInputArea {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.EditButtonArea {
  padding: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.EditIcon {
  font-size: x-large;
  color: #888;
  transition: all 0.5s;
}

.EditIcon:hover {
  cursor: pointer;
  color: #d345cc;
}

.SaveEditIcon {
  color: lightgreen;
  font-size: x-large;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
}

.SaveEditIcon:hover {
  color: green;
  cursor: pointer;
}

.CancelEditIcon {
  color: pink;
  font-size: x-large;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
}

.CancelEditIcon:hover {
  cursor: pointer;
  color: red;
}

.ApproveEditArea {
  padding: 0;
  text-align: center;
}

.SnippetBackground {
  width: 95%;
  max-width: 800px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
  padding: 25px;
  transition: all 0.5s;
}

.SnippetBackground:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px #888;
}

.SnippetInput {
  width: 100%;
  min-height: 100px;
  border: none;
  box-shadow: 0px 0px 3px #888;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.SnippetInputHome {
  cursor: pointer;
  outline: none;
}

.SnippetInfoArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.SnippetCreatorArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.CreatorText {
  font-size: medium;
  color: #d345cc;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.CreatorText a {
  text-decoration: none;
  color: #d345cc;
  font-weight: bold;
}

.CreatorText a:hover {
  text-decoration: underline;
}

.CreatorTextSpan {
  font-size: medium;
  color: #888;
}

.VotesText {
  font-size: x-large;
  font-weight: bold;
  color: #d345cc;
  padding: 0;
  margin: 0;
}

.IconVoted {
  padding: 0;
  margin: 0;
  font-size: x-large;
  color: #d345cc;
  transition: all 0.5s;
}

.IconVoted:hover {
  cursor: pointer;
}

.IconUnvoted {
  padding: 0;
  margin: 0;
  font-size: x-large;
  color:  	#C0C0C0;
  transition: all 0.5s;
}

.IconUnvoted:hover {
  cursor: pointer;
}

.SnippetVoteArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.VoteArrowArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 10px;
}

.VoteArrow {
  margin: 3px;
  font-size: x-large;
}

.NewCommentArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.CommentInput {
  width: 70%;
  min-height: 20px;
  border: none;
  box-shadow: 0px 0px 3px #888;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.CommentSubmit {
  margin: 10px;
  background-color: #d345cc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  box-shadow: 0px 0px 5px #888;
  transition: all 0.5s;
}

.CommentSubmit:hover {
  cursor: pointer;
  color: #d345cc;
  background-color: white;
}

.CommentArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.SnippetComment {
  width: 100%;
  min-height: 50px;
  border: none;
  box-shadow: 0px 0px 3px #888;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  outline: none;
}

.CommentBackground {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.CommentInfo {
  display: flex;
  flex-direction: row;
}

.CommentText {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  padding: 0px 0px 5px 0px;
  margin: 0;
}

.CommentInfoText {
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  color: #4d4d4d;
  padding: 0;
  margin: 0 10px 0 0;
}

.ProfileArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px 0px 0px;
}

.ProfileUsernameArea {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ProfileUsernameArea label {
  color: #d345cc;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0;
}

.ProfileEmailArea {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ProfileEmailArea label {
  color: #d345cc;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0;
}

.ProfileInput {
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #888;
  height: 35px;
  width: 300px;
  padding: 0 10px 0 10px;
  margin: 0;
  outline: none;
}

.ProfileBioInput {
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #888;
  height: 100px;
  width: 300px;
  padding: 5px 10px 5px 10px;
  margin: 0;
  outline: none;
}

.ProfileBioArea {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ProfileBioArea label {
  color: #d345cc;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: center;
  padding: 0;
}

.ProfileBioInputArea {
  display: flex;
  flex-direction: row;
}

.EditProfile {
  margin: 0 0 0 10px;
  color: #d345cc;
  background-color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #888;
  width: 75px;
  height: 35px;
  transition: all 0.5s;
}

.EditProfile:hover {
  cursor: pointer;
  color: white;
  background-color: #d345cc;
}

.JoinedData {
  margin: 50px;
  font-size: small;
  color: #4d4d4d;
}

.ProfileAreaBackground {
  width: 95%;
  max-width: 800px;
  padding: 20px;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0 0 5px #888;
  display: flex;
  flex-direction: column;
}

.ProfileInfoArea {
  display: flex;
  flex-direction: row;
}

.ProfileDataArea {
  padding: 10px;
  text-align: start;
}

.Username {
  font-weight: bold;
  font-size: larger;
  padding: 0;
  margin: 0;
}

.Email {
  font-weight: bold;
  font-size: large;
  padding: 0;
  margin: 0;
}

.Joined {
  font-size: medium;
  padding: 0;
  margin: 0;
}

.BioInput {
  box-shadow: 0 0 5px #888;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  height: 100px;
  outline: none;
  cursor: default;
}

.Post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
}

.CodeBackground {
  width: 95%;
  max-width: 800px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
  padding: 25px;
  transition: all 0.5s;
}
